body {
    height: 100vh;
    border: 1px solid black;
    background-image: url("assets/images/blind-robot.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

header {
    height: 10rem;
    text-align: center;
    font-size: 12vmin;
    border: 3px solid black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: capitalize;
}

.container {
    display: inline-block;
    border: 3px solid black;
    /* height: 100vh;
    width: 20%; */
    vertical-align: top;
    width: 100%;
    height: 100%;
    
}

main {
    display: inline-block;
    height: 80%;
    width: 70%;
    border: 2px solid black;
    vertical-align: top;
}

.card {
    width: 16%;
    height: 33.33%;
    position: relative;
    display: inline-block;
}
.back2,
.back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.front {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
   
}
.front {
    background-image: url("assets/images/lfz-card.jpg");
}
.back {
    background-image: url("assets/images/andy.jpg");
}
.back2 {
    background-image: url("assets/images/brett.jpg");
}
/* .card:hover .front {
    display: none;
} */
.hidden {
    display: none;
}
aside {
    border: 3px solid black;
    height: 80%;
    width: 25%;
    display: inline-block;
    margin: 0;
    font-size: 4vmin;
    text-align: center;
}

.aside_div {
    border: 2px solid black;
    height: 12%;
    padding-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    width: 70%;
    font-size: 3vmin;
    background-color: midnightblue;
    color: white;
    opacity: 0.5;
}